# Node.js dependencies
node_modules/
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/
out/

# Typescript
*.tsbuildinfo

# Logs and cache
.log/
.cache/
.DS_Store

# IDE files
.vscode/
.idea/
*.swp

# Miscellaneous
coverage/
dist/
*.lock

# Static exports
export/

# Testing